
header{
    background: rgb(255, 255, 255);
    padding: 20px 0 ;
}
.container img{
    max-width: 250px;
}

.container{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav li  {
    font-family: 'Permanent Marker', cursive;  
    display: inline;
    margin-left: 15px;
}
a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav a:hover {
    color: blueviolet;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 30px 0;
    margin: 0 1.5%;
    box-sizing: border-box;
    border: solid 2px black;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: blueviolet;
}
.produtos li:active{
    border-color: greenyellow;
}

.produtos li:hover h2{
    font-size: 34px;
}

.preco-produto{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}
.produto-descricao{
    font-size: 18px;
    padding: 30px 20px;
}
footer{
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px 0;
}
.copyright {
    color: white;
    font-size: 14px;
    margin-top: 10px;
}
@media screen and (max-width: 750px) and (max-width: 750px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo {
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .container img{
        margin-right: 500px;
    }
}